/* ==============================
	Single Blog Page


	TODO: Inline a links!!!
============================== */

.single-blog{
	text-align:center;
}

.single-blog__image, .single-blog__text{
	display:inline-block;
	vertical-align:top;
}
.single-blog__image{
	width:40%;
	overflow:hidden;
}
.single-blog__image img{
	max-height: 100%;
	max-width: 100%;
}
.single-blog__text{
	width:60%;
	padding: 50px 10px 0 50px;
	position:relative;
}
.single-blog__text h2{
	font-size: 50px;
	line-height: 48px;
	text-transform:uppercase;
}
.single-blog__text h3 a{
	font-size: 25px;
	line-height:31px;
	text-transform: uppercase;
	color: $red;
//	font-weight: 600;
    width: 250px;
    display: block;
    margin: 0 auto 20px auto;
}
.single-blog__text > p{
	color:$black;
	margin:20px auto 50px auto;
}
.single-blog__text img{
	margin:0 auto;
	display:block;
	max-width:100%;
	height:auto!important;
}
.single-blog__text a{
	font-size: 20px;
	border-bottom: 1px solid $red;
	color: $red;
}
.single-blog__text > a:hover{
	opacity:.6;
}
.single-blog__content p {
	text-align:left;
	color:$black;
  	margin-bottom: 30px;
}
.single-blog__content p:first-of-type {
//	font-weight:bold;
}
.single-blog__content .action-link{
	font-size:18px;
	display:block;
	width:250px;
	margin: 0 auto 30px auto;
}
.single-post .blog-linear{
	padding: 0 0 90px 0;
}
.single-social-title{
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 0!important;
	text-transform: uppercase;
	font-family: latin_mono_10Rg;
}
.single-social-wrapper {
  text-align: center;
  margin: 30px auto;
  padding-right: 40px;
}
.single-social-link {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  margin: 0 10px;
}
.single-social-link.twitter{
	background-image:url(../../images/png/icon-twitter.png);
}
.single-social-link.twitter:hover{
	background-image:url(../../images/png/icon-twitter-hover.png);
}
.single-social-link.facebook{
	background-image:url(../../images/png/icon-facebook.png);
}
.single-social-link.facebook:hover{
	background-image:url(../../images/png/icon-facebook-hover.png);
}
.single-social-link a{
	display:block;
	width:100%;
	height:100%;
	font-size: 0;
  	border: none;
}
.single-post .hero-image{
	height: 400px;
    background-size: cover;
    background-position: center center;
}

@media only screen and (min-width: $mediumBP){
	
}
@media only screen and (max-width: $mediumBP){
	.single-post .hero-image{
		height: 235px;
	}
}

@media only screen and (min-width: $smallBP){

}
@media only screen and (max-width: $smallBP){
	.single-blog__image, .single-blog__text{
		width:100%;
	}
	.single-blog__text{
		padding: 20px 30px;
		text-align:center;
	}
	.single-blog__image img{
		margin:20px auto 0 auto;
		display: block;
	}
	.single-blog__text h2{
		font-size:35px;
	}
	.single-blog__text h3 a{
		position:static;
		width:225px;
	}
}

@media only screen and (max-width: $tinyBP){
	.single-social-wrapper {
		text-align:center;
	}
}