/* ==============================
	VARIABLES
============================== */

$white : #ffffff;
$black : #000000;
$grey: #9B9B9B;

$blue : #5D7E90;
$red : #8C2E2C;
$green :#8A957E;
$beige :#C9B48C;
$orange :#D4563F;


$largeBP : 1485px;
$mediumBP : 999px;
$smallBP : 775px;
$tinyBP : 450px;

$sectionHeight : 580px;

$maxwidth:90vw;